.tab-item {
    padding: 2px 5px;
    font-weight: bold;
    flex-shrink: 0;
    max-width: 12em;
    min-width: 2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.tab-item--active {
    color: #7f6df2;
    position: relative;
}

.tab-item--active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 4px;
    height: 3px;
    right: 4px;
    background-color: #7f6df2;
}

.tab-content {
    display: none;
}

.tab-content--active {
    display: block !important;
    border-radius: 5px;
    padding: 2em 4px 1.6em 4px;
    line-height: 1.625;
    font-family: "JetBrainsMono-Regular", mononoki, Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.tab-content > :is(.code, .markdown-body){
    margin-top: 8px;
}

.tab-content > .code {
    font-size: 85%;
}

.tab-content > .code.language-plaintext {
    font-size: 100%;
}

.tab-content > .markdown-body {
    font-size: 100%;
}

.tab-content > div {
    padding: 0;
    margin: 0;
}

.code-tabs--icon_copy {
    opacity: 0;
    position: absolute;
    top: 1.2em;
    right: 5px;
    width: 1em;
    height: 1em;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    transition: all .2s cubic-bezier(0, 0, .2, 1) 0ms;
}

.tabs-container:hover .code-tabs--icon_copy {
    opacity: 1;
}

.code-tabs--icon_copy:hover {
    background-color: #949ba3a0;
}

.code-tabs--icon_copy img {
    width: 100%;
    height: 100%;
}

/* Layout and Container Styles migrated from constants.ts */
.tabs-container {
    display: block;
    position: relative;
    will-change: background-color;
}

.tabs-outer {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
}

.tabs {
    order: 0;
    display: flex;
    width: calc(100% - 6em);
    height: 100%;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    transform: translate3d(0, 0, 0);
    /* 启用硬件加速 */
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.tabs::-webkit-scrollbar {
    display: none;
}

.tab-toggle {
    order: 1;
    width: 6em;
    height: 100%;
    text-align: center;
    font-weight: bold;
    padding: 2px 5px;
}

.tab-contents {
    word-break: break-word;
    font-variant-ligatures: none;
    position: static;
}

/* 定义代码块横向滚动条（在关闭代码块换行时会用到） */
.hljs.tab-content--active {
    overflow-x: auto;
}

/* 自定义滚动条整体（只影响水平方向）*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px; /* 水平滚动条高度 */
}

::-webkit-scrollbar-corner {
    background-color: rgba(0, 0, 0, 0);
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    box-sizing: content-box;
    border: 4px solid rgba(0, 0, 0, 0);
    border-radius: var(--b3-border-radius);
    box-shadow: inset 0 0 5px 5px var(--b3-scroll-color);
    cursor: default;
}

/* 滑块悬停效果 */
::-webkit-scrollbar-thumb:hover {
    border-width: 1px;
}